.container {
  max-width: 575px;
  margin: 2em auto 4em auto;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  margin: 1em 0 1em 0;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid grey;
}

.btn {
  background: var(--bkg);
  padding: 0.5em 1em;
  margin-top: 1em;
  border-radius: 5px;
  border: none;
  color: aliceblue;
  font-size: 0.9rem;
}

@media (max-width: 425px) {
  .container {
    margin: 2em 0.5em 4em 0.5em;
  }

  form {
    justify-content: space-evenly;
  }
  input {
    padding: 0.5em 0;
  }
}
