.memes-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-above {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  background: var(--bkg);
  opacity: 0.9;
}

.text-below {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 4px #000000;
  margin: 0;

  padding: 0.3em 0.5em;
  border-radius: 5px;
  background: var(--bkg);
  opacity: 0.9;
}

.img {
  max-width: 500px;
  max-height: 333px;
  width: 80%;
  align-self: center;
}
/* auxiliary classes*/
.invisible {
  display: none;
}

.left-white-side {
  font-size: 0.8rem;
  color: black;
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  opacity: 0.9;
  position: absolute;
  left: 50vw;
  width: 135px;
  height: 200px;
  word-wrap: break-word;
}
